.logo{
    
   max-width: 20%;
  height: auto;
}
h1{
    font-size: 35px;
}
p{ 
font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  color: blue;
}
